<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Maintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <Maintenance.Properties.Settings>
      <setting name="PathFilesToDelete" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="PathFilesToDeleteOlder" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="FilesToDelete" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="DirectoriesToDelete" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="FilesToHide" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="TasksToDisable" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="ServicesToDisable" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="ServicesToManual" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="LoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExclusionList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="DirectoriesToHide" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="DISMLastRun" serializeAs="String">
        <value>2019-01-01</value>
      </setting>
      <setting name="SFCLastRun" serializeAs="String">
        <value>2019-01-01</value>
      </setting>
      <setting name="DaysDism" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="DaysSFC" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="DaysDiskCheck" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="DiskCheckLastRun" serializeAs="String">
        <value>2019-01-01</value>
      </setting>
    </Maintenance.Properties.Settings>
  </userSettings>
</configuration>
